h2, h3{ color: #111111; }

h2{ font-size: 2rem; }

h3{ font-size: 1.4rem; }

section{
  background-color: #f8f8f8;
  margin-bottom: 30px;
  padding:30px;
  min-height: 250px;
}

.code{
    color: #e83e8c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    padding: 10px 20px;
    word-wrap: break-word;
}

.hero-wrapper{ 
	background-color: #303a54;
  color:#fff;
  margin: 0 0 30px 0;
	padding: 15px 0 0 0;
  text-shadow: 1px 1px #111;
}   

.nav-pills .nav-link.active{
  background-color: #4b70a7;
}

.overview-heading{
  background-color: #4b70a7;
  color:#fff;
  margin-bottom: 3px;
  padding: 10px;
} 

#scroll-spy ul.nav-pills { /* - Bootstrap Fix for side nav overlap - */
    position: sticky;
    top:10px;
}
