section#delete-root
  h2 Path: / {slug}
  p EXAMPLE - <a href='#'>http://localhost:1990/ren-and-stimpy</a>

  h3 Method
  p  DELETE

  h3 Description
  p Deletes nostalgia item matching the parameter {slug}. 