section#delete-root
  h2 Route: /api/ {slug}
  p EXAMPLE URL - <a href='#'>http://localhost:1990/api/ren-and-stimpy</a>

  h3 Method
  p  DELETE

  h3 Description
  p Deletes nostalgia item matching the parameter {slug}. 