section#delete-root
  h2 Path: / {slug}
  p EXAMPLE - <a href='#'>http://localhost:1990/ren-and-stimpy</a>

  h3 Method
  p.method-text.method-post DELETE

  h3 Description
  p Deletes nostalgia data matching the paramter 'slug' 