section#get-root
  h2 Path: / 
  p Example URL - <a href='http://localhost:1990/'>http://localhost:1990/</a>

  h3 Method
  p.method-text.method-get GET

  h3 Description
  p Retreives all nostalgia items