section#get-slug
  h2 Path: /{slug}
  p Example URL - <a href='http://localhost:1990/ren-and-stimpy'>http://localhost:1990/ren-and-stimpy</a>

  h3 Method
  p.method-text.method-get GET

  h3 Description
  p Retreives all nostalgia items with a paramter of 'slug'