section#get-decade
  h2 Path: /decade/{decade}
  p Example URL - <a href='http://localhost:1990/decade/1990'>http://localhost:1990/decade/1990</a>

  h3 Method
  p.method-text.method-get GET

  h3 Description
  p Retreives all nostalgia items when given a 'decade' directory and a paramter of 'decade'
