section#get-category
  h2 Path: /category/{category}
  p Example URL - <a href='http://localhost:1990/category/toys'>http://localhost:1990/category/toys</a>
  p Example URL - <a href='http://localhost:1990/category/cartoons'>http://localhost:1990/category/cartoons</a>
          
  h3 Method
  p.method-text.method-get GET

  h3 Description
  p Retreives all nostalgia items when given a 'category' directory and  a paramter of 'category'