section#get-category
  h2 Route: /api/category/{category}
  p Example URL - <a href='http://localhost:1990/api/category/toy'>http://localhost:1990/api/category/toy</a>
  p Example URL - <a href='http://localhost:1990/api/category/cartoon'>http://localhost:1990/api/category/cartoon</a>
          
  h3 Method
  p GET

  h3 Description
  p Retrieves all nostalgia items when given a 'category' directory and  a parameter of {category}.