section#patch-root
  h2 Route: /{slug}/{attribute}
  p Example URL - <a href='#'>http://localhost:1990/ren-and-stimpy/name</a>
          
  h3 Method
  p PATCH

  h3 Headers
  pre.code Content-Type application/json
  h3 Body
  pre.code.
    {
      "name": "My New Name"
    }

  h3 Description
  p Update an individual {attribute} for an existing {slug} with data provided in the body.