nav#scroll-spy.col-md-3
  ul.nav.nav-pills.flex-column
    li.nav-item
      a.nav-link.active(href=`#cartoon-overview`) Cartoons
    ul
      li 
        a.nav-link(href=`#cartoon-create`) Create
      li
         a.nav-link(href=`#cartoon-read`) Read
      li 
         a.nav-link(href=`#cartoon-update`) Update
      li 
        a.nav-link(href=`#cartoon-delete`) Delete
    li.nav-item
      a.nav-link(href=`#toys-overview`) Toys
    ul
      li 
        a.nav-link(href=`#toys-create`) Create
      li
         a.nav-link(href=`#toys-read`) Read
      li 
         a.nav-link(href=`#toys-update`) Update
      li 
        a.nav-link(href=`#toys-delete`) Delete