<!DOCTYPE html>
html(lang="en")
 include partials/head

body(data-spy="scroll" data-target="#scroll-spy")
  div.hero-wrapper
    div.container.hero
      div.row
        div.col-md-12
          h1 Remember This? 
          p.lead An API to remind you of all the things that made your childhood amazing.

  div.container
    div.row
      include partials/side-nav
      div.col-md-9
        section#general
          h2 Overview
          p.lead This API provides data to evoke visceral pop-culture memories.
          p Documentation for this API resides at the server's /api/ directory. <br> 
            small (You are here. Congratulations!)
          p See below for available routes and what you can do.
          p Enjoy!
        
        h2#get-overview.overview-heading GET
        include partials/sections/get-all
        include partials/sections/get-slug
        include partials/sections/get-category
        include partials/sections/get-decade

        h2#post-overview.overview-heading POST
        include partials/sections/post-root

        h2#put-overview.overview-heading PUT
        include partials/sections/put-root

        h2#patch-overview.overview-heading PATCH
        include partials/sections/patch-root

        h2#delete-overview.overview-heading DELETE
        include partials/sections/delete-root

include partials/scripts